Editing profile <%= @user.name %>

<form action="/user/<%= @user.id %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="hidden" name="_method" value="patch">
	Name: <input type="text" name="user[name]" value="<%= @user.name %>"><br />
	Email: <input type="text" name="user[email]" value="<%= @user.email %>"><br />
	<button type="submit">Update</button>
</form>

<form action='/user/<%= @user.id %>' method='post'>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input name="_method" value="delete" type="hidden">
  <button type="submit">Delete Account</button>
</form>

<a href="/user/<%= @user.id %>">Show</a> | 
<a href="/user">Back</a>